* {
    box-sizing: border-box;
    margin:0;
    font-family: sans-serif, serif;
}

.main-header {
    width: 100%;
    padding: 8px 16px;
    background-color: #2ddf5c;
    
}

.main-header > div {
    display: inline-block;
}

.main-nav {
    display: inline-block;
}
.main-nav-item {
    display: inline-block;
    padding: 5px 10px;
}

footer {
    text-align: center;
    background-color: #e18181;
    color: white;
}

footer p {
    padding: 10px;
}