.img-card {
    width: 30%;
    height: auto;
    padding: 5px;
    object-fit: contain;
    display: inline-block;
}

.img-card h3 {
    text-align: center;
}

.welcome {
    font-family: sans-serif;
    color: rgb(21, 101, 101);
    text-align: center;
}

.welcome h1{
padding: 10px;
}

#Biography p {
    padding: 10px;
}


.welcome h2 {
    padding: 5px;
}
img {
    max-width: 100%;
    max-height: 100%;
}

.image-container {
    width: 98%;
    display: inline-block;
    margin: auto;
    align-content: center;
}

.img_container {
    width: 30%;
    padding: 4px;
    display: inline-block;
    margin: auto;
    border: 1px solid black;
    object-fit: contain;
}

.image-container {
    width: 98%;
    padding: 4px;
    display: inline-block;
    margin: auto;
}
#Biography {
    display: block;
    background: #f39898;
    padding: 5px;
    margin: 5px;
    
}

#Biography > h2 {
    color: white;
    text-align: center;
}
.contact-form {
    background: #431275;
    width: 80%;
    padding: 10px;
    margin: auto;
}

.contact-form form {
    background: #19042d;
    color: white;
    width: 80%;
    align-content: center;
    margin: auto;
    border-radius: 20px;
}
#name {
    padding-top: 15px;
}
#Enquiry {
    width: 100%;
    display: block;
    align-items: center;
    align-content: center;
}

.form-entry { 
    width: 80%;
    margin: 0 auto 1.25rem auto;
     padding: 0.25rem; 
    }
    .center {
        text-align: center;
        color: white;
        padding: 10px;
    }
 /*.Enquiry-form { width: 80%; margin: auto; }   */
.form-item {
        display: block;
        width: 80%;
        height: 25px;
        background-clip: padding-box;
        align-content: center;
        border-radius: 6px;
    }
    
    .form-item:focus {
        border-color: rgb(238, 217, 217); 
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25)
    }
    
    
    textarea {
        min-height: 125px;
        width: 100%;
        resize: vertical;
        padding: 3px;
        border-radius: 5px;
    }
    #submit {
        width: 80%;
        border-radius: 8px;
        background-color: rgb(93, 65, 122);
        padding: 0.75rem;
        cursor: pointer;
        color: white;
    }